<% layout('../boilerplate/boilerplate') -%>
<div class="d-flex mainDiv flex-column container-fluid  text-center bg-dark  text-white align-content-center  justify-content-center" 
style="height: 86vh;margin-top: -20px; ">
    <div class="d-flex flex-column container align-content-center justify-content-center">
    <h1 class="text-center">YelpCamp</h1>
    <p class="lead fs-6">Welcome to YelpCamp <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eius assumenda ea nulla quisquam a voluptatibus ad. Adipisci quos amet, qui eius ut suscipit officiis autem blanditiis doloremque perspiciatis dolorum.
    Eius corporis, labore et, non ducimus quasi facere distinctio exercitationem, dicta fuga doloribus voluptas deleniti perferendis ea porro eligendi. Maiores obcaecati, excepturi odit cumque sapiente earum dicta alias ipsa! Vitae.
    Corporis quod sint eos debitis ut consectetur officia mollitia magnam laboriosam inventore. Animi ipsam totam atque laudantium assumenda, culpa officia deserunt magni ipsa enim ex quo! Tenetur, odit sit? Deleniti?</p>
    <div class="d-grid gap-2 col-4 mx-auto"> 
    <a href="/camps" class="btn btn-lg btn-secondary font-weight-bold">View campgrounds</a>   
</div>
</div>
</div>