<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yelp-CAMP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/starability.css">
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body class="d-flex flex-column" style="min-height: 100vh;"  >
<header class="sticky-top">
  <%- include('../partials/navbar') %> 
</header >   
    <main style="margin-top: 20px;">
      <%- include('../partials/flash') %> 
        <%- body -%>
    </main>
    <footer class="mt-auto"> 
      <%- include('../partials/footer') %> 
    </footer>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
      <script src="/js/validate.js"></script>
      <script src="/js/cal.js">  </script>
    </body>
</html>